* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    color: red;
}

section {
    padding: 30px;
}

li {
    display: inline-block;
    font-size: 12px;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.justify {
    justify-content: space-between;
}

.col-4 {
    width: calc((100% / 12) * 4);
    position: relative;
}