* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    color: red;
}

section {
    padding: 20px;
}